body{
    background-color: #444444;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.left{
    float: left;
}
.space-between{
    justify-content: space-between;
}
.main-container{
    margin: 0 auto;
    width: 60%;
    margin-top: 2.5rem;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
    position: relative;
}
.font-18{
    font-size: 18px;
}
.font-48{
    font-size: 48px;
}
.projects{
    font-size: 150%;
    font-style: italic;
    font-weight: normal;
}
.inline{
    display: inline-block;
}
.pb-20{
    padding: 10px 0 10px 0;
}
.pt-20{
    padding: 20px 0 0 0;
}
.pl-3p{
    padding-left: 3%;
}
.pr-3p{
    padding-right: 3%;
}
.bg-white{
    background-color: white;
}
.white-container{
    padding: 20px 20px 20px 20px;
}
.bg-gray{
    background-color: #a8a8a8;
    padding: 20px;
}
.w-85{
    width: 85%;
}
.after:after{
    display: table;
    content: "";
    line-height: 0;
    width: 100%;
}
.border{
    border-bottom: 2px solid black;
}
.flags{
    padding: 1px 5px 1px 4px;
    background-color: white;
    cursor: pointer;
}
.border-thin{
    border: 1px solid;
}
.center{
    justify-content: center;
}
.w-15{
    width: 15%;
}
.image-size{
    padding: 3px; 
    width: 100%;
    border-top: 1px solid black; 
}
.image{
    width: 339px;
    border: 1px solid black; 
}
.proj-border{
    flex-wrap: wrap;
}
@media print {
    .main-container{
        width: 100%;
        margin: 0px 0px;
    }
    .bg-gray{
        padding-top: 0px;
        padding-bottom: 0px;
    } 
    .white-container{
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .font-48{
        font-size: 42px;
    }
    .pb-20{
        padding: 6px 0px 6px 0px;
    }
    .projects{
        font-size: 130%;
    }
}